{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "user/header.html" %}

<script src = "{% static 'js/user/load_loans_list.js' %}"></script>

<div class="container" id="main_body" style="padding-top: 30px;">
    <form class="search-form" style="padding-bottom: 10px;height: 70px;" method="get" action="/browse">
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><svg width="100%" viewBox="0 0 24 24" style="transform: scale(1,1);" height="24px" id="magnifying-glass">
                        <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                    </svg></span></div><input type="text" class="form-control" placeholder="Search the library" name="keywords" />
            <div class="input-group-append"><button class="btn btn-primary" type="button">Search </button></div>
        </div>
    </form>
    <div>
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#my_loans">My Loans</a></li>
            <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#my_reservations">My Reservations</a></li>
            <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#my_fines">My Fines</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="my_loans">
                <div class="jumbotron" id="current_book_loans" style="text-align: left;padding-top: 10px;padding-left: 25px;">
                    <h4>BOOK LOANS</h4>
                    <p>Your currently borrowed books.</p>
                    <ul class="list-group" id="loans_list">
                        <li class="list-group-item" id="loans_list_item">
                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="loans_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="loans_list_item_thumbnail" src="/media/icons/icon_book.png" style="max-height: 60px;width: 52px;height: 60px;" />
                                <div id="loans_list_item_description" style="padding-left: 0px;margin-left: 25px;">
                                    <h5 id="loans_list_item_book_title">Book Title</h5><span id="loans_list_item_book_author" style="padding-left: 0px;">Book authors. Year.<br /></span>
                                </div>
                            </div>
                            <div id="loans_list_item_loan_info" style="margin-top: 10px;"><span id="loans_list_item_due">Due in <strong>5 days</strong></span><br /><span id="loans_list_item_borrow_date">Borrowed on 18/06/2021<br /></span></div><a class="btn btn-outline-secondary" role="button" data-toggle="tooltip" style="margin-top: 15px;" title="You can request a maximum of 7 days extension of the due date for this loan.">Extend due date</a>
                        </li>
                        <li class="list-group-item" id="loans_list_item">
                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="loans_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="loans_list_item_thumbnail" src="/media/book_covers/bookcover_1.jpg" style="width: 52px;height: 60px;" />
                                <div id="loans_list_item_description" style="padding-left: 0px;margin-left: 25px;">
                                    <h5 id="loans_list_item_book_title">Python Programming from Beginner to Immediate in 7 days</h5><span id="loans_list_item_book_author" style="padding-left: 0px;">Cal Baron. 2019.<br /></span>
                                </div>
                            </div>
                            <div id="loans_list_item_loan_info" style="margin-top: 10px;"><span class="text-danger" id="loans_list_item_due">Past due by <strong>5 days</strong><br /><strong>WARNING: Overdue books risk incurring fines!</strong><br /></span><br /><span id="loans_list_item_borrow_date">Borrowed on 18/06/2021<br /></span></div><a class="btn btn-outline-secondary disabled" role="button" style="margin-top: 15px;">Extend due date</a>
                        </li>
                    </ul>
                    <div id="loans_history" style="margin-top: 20px;"><a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">View Past Loans</a>
                        <div class="collapse" id="collapse-1">
                            <ul class="list-group" id="loans_history_list">
                                <li class="list-group-item" id="loans_history_list_item">
                                    <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="loans_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="loans_list_item_thumbnail" src="media/icons/icon_book.png" style="max-height: 60px;width: 52px;height: 60px;" />
                                        <div id="loans_list_item_description" style="padding-left: 0px;margin-left: 25px;">
                                            <h5 id="loans_list_item_book_title">Book Title</h5><span id="loans_list_item_book_author" style="padding-left: 0px;">Book authors. Year.<br /></span>
                                        </div>
                                    </div>
                                    <div id="loans_list_item_loan_info" style="margin-top: 10px;"><span id="loans_list_item_due">Returned on 17/06/2021</span><br /><span id="loans_list_item_borrow_date">Borrowed on 15/06/2021<br /></span></div><a class="btn btn-outline-secondary" role="button" style="margin-top: 15px;">Remove from history</a>
                                </li>
                                <li class="list-group-item" id="loans_history_list_item">
                                    <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="loans_list_item_book_info-2"><img class="d-xl-flex justify-content-xl-start" id="loans_list_item_thumbnail-2" src="media/book_covers/bookcover_1.jpg" style="width: 52px;height: 60px;" />
                                        <div id="loans_list_item_description-2" style="padding-left: 0px;margin-left: 25px;">
                                            <h5 id="loans_list_item_book_title-2">Python Programming from Beginner to Immediate in 7 days</h5><span id="loans_list_item_book_author-2" style="padding-left: 0px;">Cal Baron. 2019.<br /></span>
                                        </div>
                                    </div>
                                    <div id="loans_list_item_loan_info-2" style="margin-top: 10px;"><span id="loans_list_item_due-2">Returned on 14/06/2021</span><br /><span id="loans_list_item_borrow_date-2">Borrowed on 18/06/2021<br /></span></div><a class="btn btn-outline-secondary" role="button" style="margin-top: 15px;">Remove from history</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="my_reservations">
                <div class="jumbotron" id="current_book_reservations" style="text-align: left;padding-top: 10px;padding-left: 25px;">
                    <h4>BOOK RESERVATIONS</h4>
                    <p>Your currently reserved books.<br />Reserved items to be collected at <strong>Xpress Collect(Blk B L1 Interactive Lounge)</strong><br /></p>
                    <ul class="list-group" id="reservations_list">
                        <li class="list-group-item" id="reservations_list_item">
                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="reservations_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="reservations_list_item_thumbnail" src="/media/icons/icon_book.png" style="max-height: 60px;width: 52px;height: 60px;" />
                                <div id="reservations_list_item_description" style="padding-left: 0px;margin-left: 25px;">
                                    <h5 id="reservations_list_item_book_title">Book Title</h5><span id="reservations_list_item_book_author" style="padding-left: 0px;">Book authors. Year.<br /></span>
                                </div>
                            </div>
                            <div id="reservations_list_item_item_info" style="margin-top: 10px;"><span id="reservations_list_item_pickup_date">Expected pick up date: <strong>20/06/2021</strong></span><br /></div><a class="btn btn-outline-secondary" role="button" data-toggle="tooltip" style="margin-top: 15px;" title="You cannot request to reserve this book again if you cancel this reservation.">Cancel reservation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="my_fines">
                <div class="jumbotron" id="current_fines" style="text-align: left;padding-top: 10px;padding-left: 25px;">
                    <h4>FINES</h4>
                    <p>Your outstanding fines. You can choose to pay them online here or pay by cash at the librarian&#39;s desk.</p>
                    <h4 id="current_fines_total">OUTSTANDING: $95</h4>
                    <div id="payment_options"><button class="btn btn-outline-primary current_fines_pay_button" type="button" style="margin-right: 20px;">PayPal</button><button class="btn btn-outline-primary current_fines_pay_button" type="button" style="margin-right: 20px;">PayLah</button><button class="btn btn-outline-primary current_fines_pay_button" type="button" style="margin-right: 20px;">eNETS</button><button class="btn btn-outline-primary current_fines_pay_button" type="button" style="margin-right: 20px;">Credit / Debit Card</button></div>
                    <div id="fines_history" style="margin-top: 20px;"><a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button">View Past Fines</a>
                        <div class="collapse" id="collapse-2">
                            <ul class="list-group" id="fines_history_list">
                                <li class="list-group-item" id="fines_list_item">
                                    <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="fines_list_item_fine_info">
                                        <div id="fines_list_item_description" style="padding-left: 0px;">
                                            <h5 id="fines_list_item_fine_amount">$100</h5><span id="fines_list_item_fine_reason" style="padding-left: 0px;">Overdue return on book {{overdue.book_name}}<br /></span>
                                        </div>
                                    </div>
                                    <div id="fines_list_item_payment_info" style="margin-top: 10px;"><span id="fines_list_item_pay_date">Paid on 10/06/2021</span><br /><span id="fines_list_item_pay_method">Paid using CASH<br /></span></div><a class="btn btn-outline-secondary" role="button" style="margin-top: 15px;">Remove from history</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

