{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "user/header.html" %}


<div class="container" id="main_body" style="padding-top: 30px;">
    <div class="container" style="width: 700px;margin: auto;text-align: center;">
    <div id="user_profile_details"><img id="profile_image" class="rounded-circle" src="/media/user_avatar.png" style="width: 200px;height: 200px;" />
        <h1 class="text-center" id="profile_name" style="width: 200px;margin: auto;">
            <span style="text-decoration: underline;">Test1</span>
        </h1>
        <div class="card text-center my-4">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="details_tab" href="#details" data-toggle="tab" role="tab" aria-controls="details" aria-selected="true">Details</a></li>
                </ul>
            </div>
            <div class="card-body tab-content">
                <div id="details" class="tab-pane fade show active" role="tabpanel" aria-labelledby="details_tab">
                    <form method="post">
                        <span class="text-danger" id="user_privilege_status">You are not allowed to borrow books. Please see a library staff member for assistance</span>
                        <input id="label_name" type="text" class="form-control-plaintext" value="Name" readonly />
                        <input id="user_name"  type="text" class="form-control" placeholder="Test1" />
                        <input id="label_studentID" type="text" class="form-control-plaintext" value="Student ID" readonly />
                        <input id="user_studentID" type="text" class="form-control" placeholder="12345" />
                        <input id="label_email" type="text" class="form-control-plaintext" value="Email" readonly />
                        <input id="user_email" type="text" class="form-control" placeholder="Test1@mymail.sim.sg" />
                        <button id="back_home" class="btn btn-primary text-center bg-primary" type="button" style="margin-top: 10px;height: 40px;">Home</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}