{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "user/header.html" %}


<style type="text/css">
  #books_list li:hover {
    cursor: pointer;
    background-color:rgba(200, 200, 200, 0.3) !important;
  }

</style>
            
<div class="container" id="main_body"><a class="btn btn-primary" role="button" id="return_button" href="/browse/">
        <div><svg width="32" height="32" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
            Return to catalog</div>
    </a>
    <div id="book_browsed_info" class="d-flex d-xl-flex justify-content-start justify-content-xl-start">
        <div class="table-responsive">
            <table class="table table-borderless" id="book_browsed">
                <thead>
                    <tr>
                        <th style="width: 250px;"><img id="book_browsed_image" class="d-xl-flex justify-content-xl-start" src="/media/{{book.cover}}" style="width: 200px;height: 250px;" /></th>
                        <th style="vertical-align: top;">
                            <div id="book_browsed_description" class="justify-content-start" style="margin-left: 20px;padding-left: 0px;position: sticky;">
                                <h5 id="book_browsed_title">{{book.title}}</h5><span id="book_browsed_author">{{book.authors}}</span>
                                <div class="d-xl-flex justify-content-xl-start&quot;">
                                    <div>{% if available %}
                                        <span id="book_browsed_availability" class="text-success"><br />Available at Tay Eng Soon Library Course 21 Days (004 HOS)<br /><br /></span>
                                        {% else %}
                                        <span id="book_browsed_availability" class="text-danger"><br />Currently unavailable. You can reserve this book.<br /><br /></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="book_details">
        <div id="book_main_details">
            <h3 id="details" style="margin-top: 10px;">Details</h3>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th style="max-width: 100px;width: 100px;"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td id="book_title">{{book.title}}<br /></td>
                        </tr>
                        <tr>
                            <td>Author:</td>
                            <td id="book_author">{{book.authors}}</td>
                        </tr>
                        <tr>
                            <td>Creation Date:</td>
                            <td id="book_creationDate">2019</td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td id="book_lang">English</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td class="text-break" id="book_desc">{{book.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div id="book_availability">
            <h3 id="avail" style="margin-top: 20px;">Availability</h3>
            <div class="col">
                <div class="table-responsive d-grid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="book_barcode">Barcode</th>
                                <th id="book_type">Type</th>
                                <th id="book_policy">Policy</th>
                                <th>Description</th>
                                <th id="book_status">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="max-width: 220px;">{{book.barcode}}</td>
                                <td>Book</td>
                                <td>21 Day Loan</td>
                                <td></td>
                                <td>
                                    <div>{% if available %}
                                        Item in place
                                        {% else %}
                                        Item unavailable
                                        {% endif %}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <div id="book_reserve_action">
            <div>{% if not available %}</div>
            <form id="reserve_form" action="/reserve_book/" method="POST" enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <input type="text" id="barcode" name="barcode" value="{{book.barcode}}" /><br />
            </form>
            <h3 id="reserve">Reserve It Now</h3><select id="select_book_barcode" style="background-color: #8f8f8f;color: #ffffff;border-radius: 6px;height: 40px;width: 300px;">
                <option value="Choose" selected>Choose the available book to reserve</option>
                <option value="B134367">B134367</option>
            </select><button class="btn btn-primary bg-success" id="submit" style="margin-left: 30px;margin-bottom: 5px;height: 40px;border-radius: 6px;" type="submit" form="reserve_form">Submit</button>
            <div role="dialog" tabindex="-1" class="modal fade" id="submit_modal" aria-labelledby="modal_title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal_title">Reservation Success </h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>You have successfully reserve this book</p>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
            <div>{% endif %}</div>
        </div>
        <hr />
    </div>
</div>
    
{% endblock %}