<li class="list-group-item" id="loans_list_item">
    <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="loans_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="loans_list_item_thumbnail" src="media/icons/icon_book.png" style="max-height: 60px;width: 52px;height: 60px;" />
        <div id="loans_list_item_description" style="padding-left: 0px;margin-left: 25px;">
            <h5 id="loans_list_item_book_title">Book Title</h5><span id="loans_list_item_book_author" style="padding-left: 0px;">Book authors. Year.<br /></span>
        </div>
    </div>
    <div id="loans_list_item_loan_info" style="margin-top: 10px;"><span id="loans_list_item_due">Due in <strong>5 days</strong></span><br /><span id="loans_list_item_borrow_date">Borrowed on 18/06/2021<br /></span></div><a class="btn btn-outline-secondary" role="button" data-toggle="tooltip" style="margin-top: 15px;" title="You can request a maximum of 7 days extension of the due date for this loan.">Extend due date</a>
</li>