<li class="list-group-item" id="reservations_list_item">
    <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" id="reservations_list_item_book_info"><img class="d-xl-flex justify-content-xl-start" id="reservations_list_item_thumbnail" src="media/icons/icon_book.png" style="max-height: 60px;width: 52px;height: 60px;" />
        <div id="reservations_list_item_description" style="padding-left: 0px;margin-left: 25px;">
            <h5 id="reservations_list_item_book_title">Book Title</h5><span id="reservations_list_item_book_author" style="padding-left: 0px;">Book authors. Year.<br /></span>
        </div>
    </div>
    <div id="reservations_list_item_item_info" style="margin-top: 10px;"><span id="reservations_list_item_pickup_date">Expected pick up date: <strong>20/06/2021</strong></span><br /></div><a class="btn btn-outline-secondary" role="button" data-toggle="tooltip" style="margin-top: 15px;" title="You cannot request to reserve this book again if you cancel this reservation.">Cancel reservation</a>
</li>