{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "librarian/header.html" %}

<div class="container" id="main_body" style="padding-top: 30px;">
    <h2>Library Management</h2><a class="btn btn-primary" role="button" href="/librarian/accounts">Manage User Accounts</a><br /><a class="btn btn-primary" role="button" href="/librarian/books">Manage Catalog</a><br /><a class="btn btn-primary" role="button" href="/librarian/loans">Manage Loans</a><br /><a class="btn btn-primary" role="button" href="/librarian/fines">Manage Fines</a><br /><a class="btn btn-primary" role="button" href="/browse">Browse Catalog</a>
    <br/><br/>
    <a class="btn btn-primary" role="button" href="/librarian/loans?filter=LATE">View Overdue Books</a>

    <div>{% if request.user.is_superuser %}</div>
    <h2>Admin Management</h2><a class="btn btn-primary" role="button" href="/admin/auth/user/?is_staff__exact=1">Staff Account Management</a>
    <div>{% endif %}</div>
</div>

{% endblock %}

